// Define variables for your color scheme

// MorningCroissant
$primary-darker: #D3610A;
$primary-mc: #F47C21;
$primary-lighter: #F6964D;
$secondary-darker: #2D70BD;
$secondary-mc: #508ED5;
$secondary-lighter: #73A5DD;
$black-darker: #1D1A18;
$black-mc: #3A342F;
$black-lighet: #615D59;
$grey-darker: #8A8A8A;
$grey-mc: #C5C5C5;
$grey-lighter: #D1D1D1;
$light-grey: #F8F8F8;
$white-darker: #F6F7F8;
$white-mc: #FBFBFB;
$white-lighter: #FEFEFE;
$red-alert: #EB5757;



// Bootstrap
$orange: #E67E22;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$grey: #0E0000;

