// Define variables for your color scheme

// MorningCroissant
$primary-darker: #D3610A;
$primary-mc: #FF813A;
$primary-light1: #FF8D4D;
$primary-light2: #FFA97A;
$primary-light3: #FFC6A6;
$primary-light4: #FFE3D3;
$secondary-darker: #2D70BD;
$secondary-mc: #095BE1;
$secondary-light1: #216BE3;
$secondary-light2: #5990EA;
$secondary-light3: #90B5F1;
$secondary-light4: #C7DAF8;
$black-mc: #000000;
$black-light1: #030F08;
$black-light2: #030F08;
$dark-mc: #27314A;
$dark-light1: #243350;
$grey-mc: #C5C5C5;
$grey-light1: #D1D1D1;
$grey-light2: #F8F8F8;
$white-mc: #FFFFFF;
$beige-mc: #FAF6F4;
$red-alert: #E10909;
$green-alert: #27AE60;


// Bootstrap
$orange: #E67E22;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$grey: #0E0000;

