// Define variables for your color scheme

// MorningCroissant
$primary-darker: #D3610A;
$primary-mc: #FF813A;
$primary-lighter: #FFA97A;
$secondary-darker: #2D70BD;
$secondary-mc: #095BE1;
$secondary-lighter: #5990EA;
$black-mc: #000;
$black-lighter: #030F08;
$dark-mc: #243350;
$grey-darker: #8A8A8A;
$grey-mc: #C5C5C5;
$grey-lighter: #D1D1D1;
$light-grey: #F8F8F8;
$white-mc: #FFFFFF;
$white-darker: #FFFFFF;
$white-lighter: #FFFFFF;
$beige-mc: #FAF6F4;
$red-alert: #E10909;
$green-alert: #27AE60;


// Bootstrap
$orange: #E67E22;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$grey: #0E0000;

