// Define style for headings
body {
  h1 {
    color: $white-darker;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
  }

  h2 {
    color: $white-lighter;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.02em;
    opacity: 0.8;
  }


  h3 {
    color: $primary-mc;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }

  h4 {
    color: $secondary-mc;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }

  .subtitle {
    color: $black-mc;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  }

  .pretitle {
    color: $black-mc;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .body1 {
    color: $black-mc;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .body2 {
    color: $black-mc;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  .button {
    color: $white-mc;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .button-large {
    color: $white-mc;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.25px
  }

  .caption {
    color: $black-mc;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
  }

  .overline {
    color: $black-mc;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

}



