// Define style for headings
body {
  h1 {
    color: white;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
  }

  h2 {
    color: white;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.02em;
    opacity: 0.8;
  }
}


