// Define style for headings
body {
  h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
  }

  h2 {
    font-weight: 900;
    font-size: 38px;
    line-height: 48px;
  }

  .subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  .subheader {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }

  .button {
    color: $white-mc;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
  }

  .text-bold {
    color: $black-mc;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .text-medium {
      font-weight: 400;
  }

  .body {
    color: $black-mc;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }

  .body-semi {
    font-weight: 500;
  }

  .body-s {
    font-size: 12px;
  }

  .body-sb {
    font-size: 12px;
    font-weight: 700;
  }

}



