//radius
$radius-s: 2px;
$radius-m: 4px;
$radius-lg: 8px;
$radius-vlg: 16px;
$radius-xl: 29px;


//elevations
$shadow-dark: 1px 1px 24px rgba(0, 0, 0, 0.2);
$shadow-classic: 0px 2px 30px rgba(0, 0, 0, 0.1);
$shadow-light: 1px 1px 8px rgba(0, 0, 0, 0.12);
$shadow-very-light: 1px 1px 4px rgba(0, 0, 0, 0.12);
