// Specific CSS for your home-page

body {
  h1{
    color: $white-mc;
  }
  .subtitle {
    color: $white-mc;
    opacity: 0.9;
  }
}

.search-bar {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 56px auto;
}

.input-home {
  background: $white-mc;
  width: 500px;
  height: 52px;
  box-shadow: $shadow-primary;
  border-radius: $radius-lg;
}


