// Specific CSS for your home-page

.search-bar {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.input-home {
  background: $white;
  width: 500px;
  height: 64px;
  box-shadow: $shadow-very-light;
  margin: 56px auto;
  border-radius: $radius-lg;
}


