// Specific CSS for your home-page

.search-bar {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 56px auto;
}

.input-home {
  background: $white;
  width: 500px;
  height: 52px;
  box-shadow: $shadow-very-light;
  border-radius: $radius-lg;
}


