<div class="banner banner-home">
  <h1>Louez un logement quel que soit votre statut</h1>
  <p class="subtitle">CDI ou pas, avec ou sans garant, 100% en ligne</p>
    <div class="search-bar">
      <div class="input-home">
      </div>
      <a href="#" class="btn-secondary btn-normal button">Rechercher</a>
    </div>
    <%# image_tag "home.png", alt: "MorningCroissant", height: 500 %>
</div>


