<div class="main-container">
  <div class="forms-payment">
    <div class="form-payment">
      <h3>Modalités de location</h3>
      <div class="input-text caption">
        Placeholder
      </div>
    </div>
    <div class="form-summary">
      <h3>1000€ / mois</h3>
    </div>
  </div>
</div>

