.btn-primary {
  background-color: $primary-mc;
  box-shadow: $shadow-primary;
  &:hover {
    background-color: $primary-mc1;
  }
}

.btn-secondary {
  background-color: $secondary-mc;
  box-shadow: $shadow-secondary;
  &:hover {
    background-color: $secondary-mc1;
  }
}

.btn-normal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  border-radius: $radius-xl;
  text-decoration: none;
}

.btn-large {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: $radius-m;
  text-decoration: none;
}
