.btn-primary {
  background-color: $primary-mc;
}

.btn-secondary {
  background-color: $secondary-mc;
}

.btn-normal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  border-radius: $radius-xl;
  text-decoration: none;
}

.btn-large {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: $radius-m;
  text-decoration: none;
}
